name = "artistic-portal"
compatibility_date = "2026-01-16"

[assets]
directory = "./dist"
not_found_handling = "single-page-application"

[observability]
[observability.logs]
enabled = false
invocation_logs = true